.container {
  padding: 10px;
}
.principal-title {
  margin: 0 0 5px;
}
.images-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.images-row-container {
  display: flex;
}
.images-row-container img {
  max-width: 350px;
  margin: 3px;
  border-radius: 5px;
}
