body {
  margin: 0;
  background-color: white;
  font-family: "Segoe UI";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hero {
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: 80px 1fr;

  grid-template-areas:
    "navbar navbar"
    "menu main";
  height: 100vh;
}
.navbar {
  grid-area: navbar;
  background-color: #417ae8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.menu {
  grid-area: menu;
  background-color: #f7f7f7;
  /* border: 1px solid greenyellow; */
  padding: 0px 5px 5px;
}
.main {
  grid-area: main;
  padding: 10px;
}

.btn {
  padding: 0.175rem 1rem;
  border-radius: 5px;
  width: 110px;
  margin-top: 5px;
  font-size: 0.75rem;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.btn.btn-primary {
  color: #fff;
  max-width: 600px;
  height: 30px;
  font-size: 1em;
  background-color: #20232a;
  border: none;
}
.btn.btn-secondary {
  color: #fff;
  background-color: #7dcd40;
  border-color: #7dcd40;
}
.btn.btn-grey {
  color: #fff;
  background-color: #989a9c;
  border-color: #989a9c;
}
.btn.btn-primary:not(:disabled):not(.disabled):hover {
  color: #fff;
  background-color: #7dcd40;
}
.btn.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #7dcd40;
}
